<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashjadhav.ganesh_pooja">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ganesh"
        android:label="Shree Ganesh Poojan"
        android:roundIcon="@drawable/ganesh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pooja_vidhi" />
        <activity android:name=".Daily_pooja" />
        <activity android:name=".Visarjan" />
        <activity android:name=".Pooja_sahitya" />
        <activity android:name=".Aarti_home" />
        <activity android:name=".home" />
        <activity android:name=".Recipe" />
        <activity android:name=".Modak1" />
        <activity android:name=".Modak2" />
        <activity android:name=".Khirapat" />
        <activity android:name=".Ladu1" />
        <activity android:name=".Ladu2" />
        <activity android:name=".Puran_Poli"></activity>
    </application>

</manifest>